
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Mirza";
  src: url("../public/fonts/Mirza-Regular.ttf");
}

@font-face {
  font-family: "Inter_Tight";
  src: url("../public/fonts/InterTight-Light.ttf");
}



// And define any of your custom or additional CSS/SCSS here,
// or via an @import
// All of your custom SCSS variables go first
$primary: #8f46a3;
$primary-light: #ab98e5;
$primary-lighter: #D3C0FF;
$purple: #8D56A9;
$rosa: #F4E7F2;
$dark: #434343;
$gray: #b2b2b2;
$gray-light: #e0e0e0;
$gray-light-2: #F2F2F2;
$gray-dark: #80868d;
$success: #3ae29b;
$warn: #f9bc46;
$error: #f1406b;
$black: #000000;
$white: #ffffff;
$globant: #8FBE39;
$abstracta: #754BDE;
$liga: #AAD9E2;
$liga2: #446D72;


$colors: (
    "primary": $primary,
    "primary-light":$primary-light,
    "primary-lighter": $primary-lighter,
    "purple": $purple,
    "rosa": $rosa,
    "dark": $dark,
    "gray": $gray,
    "gray-light": $gray-light,
    "gray-light-2": $gray-light-2,
    "gray-dark": $gray-dark,
    "success": $success,
    "warn": $warn,
    "error": $error,
    "black": $black,
    "white": $white,
    'globant': $globant,
    'abstracta': $abstracta,
    'liga': $liga,
    'liga2': $liga2,
);
// Spacing

$spacer: 1rem;
$spacers: (
    // 0
    0: 0,
    // 4px
    1: ($spacer * .25),
    // 8px
    2: ($spacer * .5),
    // 12px
    3: ($spacer * .75),
    // 16px
    4: $spacer,
    // 20px
    5: ($spacer * 1.25),
    // 24px
    6: ($spacer * 1.5),
    // 32px
    7: ($spacer * 2),
    // 48px
    8: ($spacer * 3),
    // 64px
    9: ($spacer * 4),
    // 80px
    10: ($spacer * 5),
    // 96px
    11: ($spacer * 6),
    // 120px
    12: ($spacer * 7.5)
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);


html,
body {
  padding: 0;
  margin: 0;
  background-color: $white;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: mirza;
  font-size: 50px;
}

h3 {
  font-family: kite_one;
  font-size: 18px;
  margin-top: 0px;
}

a {
  color: dark;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


//navbar

nav {
  font-family: var(--font-inter-tight);
  width: 400px;
}

//index

.headingTitle{
  font-size: 50px;
  line-height: 1.2;
  font-weight: 800;
  margin: 1rem 0;
}

.sectionImg {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.homeImg {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTxt {
  font-family: "inspiration";
  font-size: 30px;
  margin-top: 8px;
}


//sobre mi
.sectionSobreMi {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pTxt {
  font-family: "Inter_Tight";
  font-size: 16px;
}

//vountariado

.voluntImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Experiencia
ul.b {
  list-style-type: square;
}

//Animación tarjetas
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
body{
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Inter_Tight";
}

/* Vanilla CSS for flip card */
.card { perspective: 800px;}
.card__content {transform-style: preserve-3d;}
.card:hover .card__content {transform: rotateY(.5turn);}

.card__front,
.card__back { backface-visibility: hidden;}
.card__back{ transform: rotateY(.5turn);}

